<% if @product.suggested.uniq.any? %>
  <div class="clear"></div>
  <h6 class="product-section-title">Suggested Products</h6>
  <div class="front-suggested-products align-center" data-hook="front-suggested-products">
    <% @product.suggested.uniq.each_slice(5).each_with_index do |sliced_suggested_product, sliced_index| %>
      <% sliced_suggested_product.each_with_index do |suggested_product, index| %>
        <% url = spree.product_path(suggested_product, taxon_id: @taxon.try(:id)) %>
        <div class="<%= index == 0 ? 'alpha' : (index == 4) ? 'omega' : '' %> columns two">
          <div class="product-image">
            <%= link_to image_tag(suggested_product.display_image.attachment(:small), itemprop: "image"), url, itemprop: 'url' %>
          </div>
          <span><%= truncate(suggested_product.name, length: 50) %></span>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="clear"></div>
<% end %>
