<%= javascript_tag do %>

toggle_related_checkbox = function(){
  $(this).prop('checked', true);
};

$(".suggested_checkall_toogle").change(function(){
  checkall_elem = $(this);
  if(checkall_elem.is(":checked")){
    $(".suggested_related_checkbox").each(toggle_related_checkbox);
  }
});

$(".suggested_related_checkbox").change(function(){
  check_box_elem = $(this);
  if(check_box_elem.is(":checked") == false){
    $(".suggested_checkall_toogle").prop('checked', false);
  }
});
<% end %>
