<div class="nested-fields nested-child suggested-form">
  <%= f.hidden_field :coming_from_taxon, value: f.object.coming_from_taxon %>

  <% parent_object = Spree::SuggestionProductPresenter.new(parent_builder.object) %>
  <div class="row">
    <div class="col-md-7">
      <div class="field">
        <label>Product</label>
        <% unlisted_product_ids = (parent_object.suggested_ids + parent_object.taxon_product_ids) - [parent_object.id] %>
        <%= f.collection_select(:related_id, Spree::Product.where.not(id: unlisted_product_ids),
          :id, :name, {}, {class: 'select2 fullwidth'}) %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="field">
        <%= f.label :priority %>
        <%= f.number_field :priority, value: f.object.priority %>
      </div>
    </div>

    <div class="float-right">
      <%= link_to_remove_association "X", f, class: 'button remove' %>
    </div>
  </div>
</div>
