<div class="nested-fields suggested-product-item nested-child col-md-4">
  <% related_product = f.object.related %>

  <%= f.hidden_field :coming_from_taxon, value: f.object.coming_from_taxon %>
  <%= f.hidden_field :id, value: f.object.id %>

  <% if f.object.coming_from_taxon? %>
    <%= f.hidden_field :related_id, class: 'suggested_destroy_related', value: f.object.related_id %>
    <%= f.check_box :_destroy, {class: 'suggested_related_checkbox', checked: f.object.id?,
      disabled: parent_object.suggesting_taxons_products?}, 'false', 'true' %>
  <% else %>
    <%= link_to_remove_association "X", f, class: 'button remove' %>
  <% end %>

  <div class="product">
    <div class="product-image">
      <%= link_to image_tag(related_product.display_image.attachment(:small), itemprop: "image"),
        edit_admin_product_path(related_product) %>
    </div>

    <span><%= truncate(related_product.name, length: 50) %></span>

    <div class="field priority">
      <%= f.label :priority %>
      <%= f.number_field :priority, value: f.object.priority %>
    </div>
  </div>
</div>
