<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Suggested"} %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<% admin_breadcrumb(Spree.t(:suggested_products, scope: [:admin, :tab])) %>

<%= simple_form_for Spree::SuggestionProductPresenter.new(@product), url: spree.admin_product_tab_suggested_products_path(product_id: @product.id), method: :post do |f| %>

  <% if f.object.taxon_products.any? %>
    <fieldset class="no-border-bottom">
      <legend>Suggested Products By Taxons</legend>

      <div class="align-center">
        <% if f.object.suggesting_taxons_products? %>
          <span>
            All products from <%= f.object.taxons.any?? "#{f.object.taxons.pluck(:name).to_sentence} taxons" : '' %> will be used as suggested products.
            <br />
            Change this at the <strong>Product Details</strong>.
          </span>
        <% else %>
          <span>Suggest All</span>
          <%= check_box_tag :check_all, 'true', false, {class: 'suggested_checkall_toogle'} %>
        <% end %>
      </div>

      <br />

      <div class="row">
        <%= f.fields_for :suggested_products_by_taxon do |suggested_product_fields| %>
          <%= render :partial => 'spree/admin/tab_suggested_products/suggested_fields', :locals => {
            :f => suggested_product_fields, :parent_object => f.object } %>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <fieldset class="no-border-bottom align-center">
    <legend>Other Products</legend>

    <% f.object = @product %>
    <div class="links other-suggested-products-links">
      <%= link_to_add_association 'Add Suggested Product', f, :suggested_products_without_taxon,
        partial: 'spree/admin/tab_suggested_products/suggested_form', class: 'button',
        'data-association-insertion-node': '.suggested-products-items',
        render_options: {locals: {parent_builder: f}} %>
    </div>

    <div class="suggested-products-items row">
      <%= f.fields_for :suggested_products_without_taxon do |suggested_product_fields| %>
        <%= render :partial => 'spree/admin/tab_suggested_products/suggested_fields',
          :locals => { :f => suggested_product_fields, :parent_object => f.object } %>
      <% end %>
    </div>
  </fieldset>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button Spree.t('actions.update') %>
  </div>
<% end %>

<%= render partial: 'spree/admin/tab_suggested_products/form_setup' %>
