/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/frontend/all.css'
*/

.front-suggested-products{text-align: center;}
.front-suggested-products .product-image {display: flex; justify-content: center; align-items: center; height: 105px;}
