<div data-hook="taxon_products_suggested_products">
  <%= f.field_container :suggesting_taxons_products do %>
    <%= f.label :suggesting_taxons_products do %>
      <%= f.check_box :suggesting_taxons_products %> <%= Spree::Product.human_attribute_name(:suggesting_taxons_products) %>
    <% end %>
    <%= f.field_hint :suggesting_taxons_products %>
  <% end %>
</div>
