/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/

.suggested_related_checkbox {float:left; margin-top: 15px;}
.suggested-product-item {text-align: center; font-weight: bold; border: 1px solid #eff0f0; background: none; margin-bottom: 5px;}
.suggested-product-item .product {padding: 20px 0 10px 0;}
.suggested-product-item .product .priority label {margin:6px; display:inline-block; width: 50px;}
.suggested-product-item .product .priority input[type=number] {width:70px; display:inline-block; text-align: center;}
.suggested-product-item .product .product-image {margin-bottom:10px;}
.suggested-products-items, .suggested-form {margin-top:20px;}