<%= content_tag :li, :class => ('active' if current == 'Suggested') do %>
  <%= link_to Spree.t(:suggested, scope: [:admin, :tab]), spree.admin_product_tab_suggested_products_path(product_id: @product.id) %>
<% end if can?(:admin, Spree::Product) %>
